<% import com.jellyfish85.dbaccessor.bean.src.mainte.tool.TrCommitHistoryBean %>\
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <title>Animated Content Tabs with CSS3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Animated Content Tabs with CSS3" />
        <meta name="keywords" content="tabs, css3, transition, checked, pseudo-class, label, css-only, sibling combinator" />
        <meta name="author" content="Codrops" />
        <link rel="stylesheet" type="text/css" href="show_commit_history.css" />
        <link rel="stylesheet" type="text/css" href="style_commit_history.css" />
		<script type="text/javascript" src="js/modernizr.custom.04022.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300,300italic' rel='stylesheet' type='text/css'>
        <style>
            .content{
                height: auto;
                margin: 0;
            }
            .content div {
                position: relative;
            }
            .content {
            border-spacing: 0;
            width: 100%;
            font-family: Verdana, Roboto, 'Droid Sans', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic P     roN', sans-serif;
            }
            .content tr {
            }
            .content th {
            border: 0;
            box-shadow: 0 0 10px 1px #CEECF5;
            padding: 0;
            font-size: 10;
            border-bottom: 1px solid black;
            border-right:  1px solid #555;
            background-color: orange;
            height :30px;
            color :black;
            }

            .content th:hover {
            background-color:yellow;
            color:black;
            /*-moz-box-shadow:10px 10px 20px #ffff99;*/
            filter:alpha(opacity=80);
            opacity:0.8;
            }

            .content tr {
            background-color: white;
            }

            .content td {
            border: 0;
            border-bottom: 1px dashed #5858FA;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            font-size: 14px;
            }
        </style>
        <script type="text/javascript" src="stupidtable.min.js"></script>
        <script type="text/javascript">// <![CDATA[
            \$(function() {
                \$("#simpleTable").stupidtable();
            });
            // ]]>
        </script>
    </head>
    <body>
        <div class="container">
			<!-- Codrops top bar -->
            <div class="codrops-top">
                <div class="clr"></div>
            </div><!--/ Codrops top bar -->
			<section class="tabs">
	            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
		        <label for="tab-1" class="tab-label-1">TrunkとBranchで差異あり</label>
		
	            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
		        <label for="tab-2" class="tab-label-2">Trunkのみコミット</label>
		
	            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
		        <label for="tab-3" class="tab-label-3">Branchのみコミット</label>
			
			<div class="clear-shadow"></div>
			
		        <div class="content">
			        <div class="content-1">
                        <table id ="simpleTable">
                            <thead>
                            <th data-sort="string"style="border-top-left-radius: 10px; width: 40px">差分</th>
                            <th data-sort="Int"style=" width: 70px">リビジョン</th>
                            <th data-sort="string">更新者</th>
                            <th data-sort="string">コメント</th>
                            <th style="border-top-right-radius: 10px;"data-sort="string">ソース</th>
                            <tr/>
                            </thead>
                            <tbody>
                            <% beansDiffs.each {l -> %>\
                            <td style="width: 50px">
                                <% if (l.actionAttr().value() == "M") { %>\
                                変更
                                <%  } else if (l.actionAttr().value() == "A") { %>\
                                新規
                                <%  } else if (l.actionAttr().value() == "D") { %>\
                                削除
                                <% } %>\
                            </td>
                            <% String href = hrefHeader + l.revisionAttr().value() %>\
                            <td style="width: 80px"><a href=${href}>${l.revisionAttr().value()}</a></td>
                            <td style="width: 60px">${l.committerAttr().value()}</td>
                            <td style="width: 600px">${l.commentsAttr().value()}</td>
                            <% String path = hrefHeader + l.revisionAttr().value() + "/entry/" + l.pathAttr().value() %>\

                            <td style="width: 40px"><a href=${path}>
                                ${l.fileNameAttr().value()}
                            </a></td>
                            <tr/>
                            <% } %>
                            </tbody>
                        </table>
				    </div>
			        <div class="content-2">
                        <table id ="simpleTable">
                            <thead>
                            <th data-sort="string"style="border-top-left-radius: 10px; width: 40px">差分</th>
                            <th data-sort="Int"style=" width: 70px">リビジョン</th>
                            <th data-sort="string">更新者</th>
                            <th data-sort="string">コメント</th>
                            <th style="border-top-right-radius: 10px;"data-sort="string">ソース</th>
                            <tr/>
                            </thead>
                            <tbody>
                            <% beansLeftNotExists.each {l -> %>\
                            <td style="width: 50px">
                                <% if (l.actionAttr().value() == "M") { %>\
                                変更
                                <%  } else if (l.actionAttr().value() == "A") { %>\
                                新規
                                <%  } else if (l.actionAttr().value() == "D") { %>\
                                削除
                                <% } %>\
                            </td>
                            <% String href = hrefHeader + l.revisionAttr().value() %>\
                            <td style="width: 80px"><a href=${href}>${l.revisionAttr().value()}</a></td>
                            <td style="width: 60px">${l.committerAttr().value()}</td>
                            <td style="width: 600px">${l.commentsAttr().value()}</td>
                            <% String path = hrefHeader + l.revisionAttr().value() + "/entry/" + l.pathAttr().value() %>\

                            <td style="width: 40px"><a href=${path}>
                                ${l.fileNameAttr().value()}
                            </a></td>
                            <tr/>
                            <% } %>
                            </tbody>
                        </table>
				    </div>
			        <div class="content-3">
                        <table id ="simpleTable">
                            <thead>
                            <th data-sort="string"style="border-top-left-radius: 10px; width: 40px">差分</th>
                            <th data-sort="Int"style=" width: 70px">リビジョン</th>
                            <th data-sort="string">更新者</th>
                            <th data-sort="string">コメント</th>
                            <th style="border-top-right-radius: 10px;"data-sort="string">ソース</th>
                            <tr/>
                            </thead>
                            <tbody>
                            <% beansRightNotExists.each {l -> %>\
                            <td style="width: 50px">
                                <% if (l.actionAttr().value() == "M") { %>\
                                変更
                                <%  } else if (l.actionAttr().value() == "A") { %>\
                                新規
                                <%  } else if (l.actionAttr().value() == "D") { %>\
                                削除
                                <% } %>\
                            </td>
                            <% String href = hrefHeader + l.revisionAttr().value() %>\
                            <td style="width: 80px"><a href=${href}>${l.revisionAttr().value()}</a></td>
                            <td style="width: 60px">${l.committerAttr().value()}</td>
                            <td style="width: 600px">${l.commentsAttr().value()}</td>
                            <% String path = hrefHeader + l.revisionAttr().value() + "/entry/" + l.pathAttr().value() %>\

                            <td style="width: 40px"><a href=${path}>
                                ${l.fileNameAttr().value()}
                            </a></td>
                            <tr/>
                            <% } %>
                            </tbody>
                        </table>
				    </div>
		        </div>
			</section>
        </div>
    </body>
</html>
